<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean id="textToSpeechStrategy" class="in.co.jtechy.common.strategy.TextToSpeechStrategyImpl" scope="prototype" />

    <bean id="mapper" class="com.fasterxml.jackson.databind.ObjectMapper" scope="prototype"/>

    <bean id="rankComparator" class="in.co.jtechy.common.util.RankComparator" scope="prototype"/>

    <bean id="entitiesByCategoryStrategy" class="in.co.jtechy.web.strategy.EntitiesByCategoryStrategyImpl" scope="prototype">
        <property name="comparator" ref="rankComparator"/>
    </bean>

</beans>


